<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Cardiff Collective</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link type="text/plain" rel="author" href="http://people.cardiffstart.com/humans.txt" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header id="banner" class="cf">
    <div class="wrap">
  	  <%= link_to root_url, id: 'logo', alt: 'Cardiff Start | People' do %>
  	    Cardiff Start | People
  	  <% end %>
      <%= render partial: 'devise/menu/login_items' %>
    </div>
	</header>

	<div id="main" class="cf">
    <div class="wrap">
	    <%= render partial: 'shared/flash', object: flash %>
      <%= yield %>
    </div>
    <%= render 'shared/fork' %>
  </div>

  <div id="feedback">
    <%= link_to 'Feedback', 'https://github.com/cardiffstart/cardiffcollective/issues', class: 'feedback', target: '_blank' %>
  </div>

  <footer id="footer">
    <p id="humanstxt">Made by <%= link_to 'humans', '/humans.txt' %>.</p>
  </footer>

  <% if Rails.env.production? %>
    <%= render 'shared/analytics' %>
  <% end %>

</body>
</html>
